<h1>Welcome Pet Owners!</h1>

<p><%= image_tag 'mark_and_dusty_sm.jpg', class: "left" %> The Pittsburgh Animal 
	Treatment Services are a group of vets dedicated to providing 
	you and your pets with the finest care in the Pittsburgh area.  
	The links below will tell you more about our services and in 
	the near future we will be expanding this site so that 
	customers like yourself can directly access records for your
	pets.
</p>
<% unless current_user %>
	<p>If you are a vet, <%= link_to "click here to login.", login_path %></p>
<% end %>